@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');/* Basics & style reset */
:root {
    --html5: #E34C26;
    --css3: #264de4;
    --js: #f7df1e;
    --db: #61dafb;
    --node: #8CC84B;
    --discord: #7289DA;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roooto Flex', sans-serif;
    font-weight: 500;
    color: #ddd;
    line-height: 1.6;
}
a {
    text-decoration: none;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    background-image: url('../images/background/background.jpg');
    backdrop-filter: brightness(0.4) blur(10px);
}
ul {
    list-style: none;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}
h1, h2 {
    font-size: 1.5em;
    text-align: center;
}
.has-text-centered {
    text-align: center;
}
i {
    transition: 0.3s ease-in-out;
}
i:hover {
    scale: 1.2;
    transition: 0.3s ease-in-out;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    padding: 2em;
    gap: 2em;
}
#about {
    display: flex;
    justify-items: center;
    width: 40vw;
    min-height: 30vh;
    padding: 3em;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 1em;
    box-shadow: 10px 10px 20px rgba(255, 255, 255, 0.1);
    background-color: rgba(1, 1, 1, 0.3);
    flex-direction: column;
}
#skills {
    display: flex;
    justify-items: center;
    width: 40vw;
    min-height: 10vh;
    padding: 3em;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 1em;
    box-shadow: 10px 10px 20px rgba(255, 255, 255, 0.1);
    background-color: rgba(0, 0, 0, 0.3);
    flex-direction: column;
}
#skills ul li {
    position: relative;
}
#projects {
    display: flex;
    justify-self: end;
    width: 40vw;
    min-height: 30vh;
    padding: 3em;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 1em;
    box-shadow: 10px 10px 20px rgba(255, 255, 255, 0.1);
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    flex-direction: column;
}
.button {
    display: flex;
    width: 100%;
    justify-content: center;
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.375rem;
    height: 30px;
    align-items: center;
    padding: 2rem 3rem;
    position: relative;
    transition: .5s;
}
.button:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 65px;
    background-color: #5439cc;
    transition: .5s ease-out;
    border-radius: 0.375rem;
    z-index: -1;
}
.button:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 65px;
    border-radius: 0.375rem;
    z-index: -2;
}
.button:hover {
    border: 1px solid #5439cc;
    transition: .5s ease-out;
}
.button:hover:before {
    width: 100%;
}
.card {
    max-width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 1px 2px 3px rgba(255, 255, 255, 0.1);
    border-radius: 0.75rem;
    padding: 1.5rem;
    position: relative;
}
.tag {
    height: 2em;
    line-height: 1.5;
    display: inline-flex;
    justify-content: center;
    padding: 0 .75em;
    white-space: nowrap;
    border-radius: 0.375rem;
    align-items: center;
    background-color: #5439cc;
    color: #eee;
}
.content {
    padding: 1.5rem;
}
.card .project:not(:last-child) {
    margin-bottom: var(1.5rem);
}
.project {
    display: flex;
    text-align: inherit;
    align-items: flex-start;
}
.project-left {
    margin-inline-end: 1rem;
}
.project-content {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: inherit;
}
.footer {
    display: flex;
    align-items: stretch;
}
.footer-item {
    align-items: center;
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: center;
    padding: 0.75rem;
}
.column {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0.75rem;
}
.project-info {
    height: 100px;  
    display: flex;
    flex-direction: column;
}
.project-info p {
    line-height: 1.2;
    color: rgba(255, 255, 255, 0.4)
}
.image {
    display: flex;
    position: relative;
    width: 64px;
    height: 64px;
}
.image img {
    width: 100%;
    height: auto;
    display: block;
}
.is-rounded {
    border-radius: 9999px;
}
#html:hover {
    color: var(--html5);
    transition: 0.3s ease-in-out;
    cursor: pointer;
} 
#css:hover {
    color: var(--css3);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
#js:hover {
    color: var(--js);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
#node:hover {
    color: var(--node);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
#db:hover {
    color: var(--db);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
#discord:hover {
    color: var(--discord);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
#avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 10vw;
    height: 20vh;
    border-radius: 50%;
    box-shadow: 0px 0px 20px #5439cc80;
}
#avatar img {
    object-fit: cover;
    width: 10vw;
    height: 20vh;
    border-radius: 50%;
    
}

.block:not(:last-child) {
    margin-bottom: 1.5rem;
}

/* Tooltip styling */
[data-tooltip]:before,
[data-tooltip]:after {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  -webkit-font-smoothing: antialiased;
  margin: 0 auto;
  opacity: 0;
  visibility: hidden;
  z-index: 9;
  transition: 0.6s ease-in-out 0.4s;
}

[data-tooltip]:before {
  content: "";
  height: 0;
  width: 0;
  top: calc(100% - 9px);
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent #333 transparent;
}

[data-tooltip]:after {
  content: attr(data-tooltip);
  white-space: nowrap;
  background: #333;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 0.9rem;
  box-sizing: border-box;
  top: calc(100% + 11px);
  color: #fff;
  border-radius: 2px;
  text-shadow: 0px 1px 1px #000;
  z-index: 9;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  opacity: 1;
  visibility: visible;
  transition: 0.4s ease-in-out 0.3s;
}
/* Mobile viewport tweaks */
@media screen and (max-width: 600px) {
    body {
        min-height: 200vmax;
        display: flex;
        flex-direction: column;
    }
    .container {
        min-height: 100vh;
    }
    #about {
        width: 80vw;
        padding: 2em;  
    }
    #skills {
        width: 80vw;
        padding: 2em;   
    }
    h1, h2 {
        font-size: 1.3em;
    }
    #avatar {
        width: 40vmin;
        height: 40vmin;
    }
    #avatar img {
        object-fit: cover;
        width: 40vmin;
        height: 40vmin;
        border-radius: 50%;   
    }
    .container {
        flex-direction: column;
        width: 100vw;
        min-height: 100vh;
        padding: 2em;
        gap: 2em;
    }
    #projects {
        width: 80vw;
        min-height: 30vh;
        padding: 2em;   
    }
    .project {
        flex-direction: column;
        text-align: center;
    }
    .tag {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .project-left {
        width: 100%;
        order: 0;
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }
    .project-content {
        width: 100%;
        flex-basis: auto;
        flex-grow: 1;
        flex-shrink: 1;
        order: 1;
        text-align: center;
        font-size: 16px;
        white-space: normal;
    }
    .project-content p {
        display: none;
    }
    .image {
        width: 100px;
        height: 100px;
    }
}
